<ng-container *ngIf="this.data.appEntries.length">
    <button type="button" class="btn btn-link popover-toggle evt-trigger" (click)="this.shown = !this.shown"
        (mouseenter)="this.onHover(true)" (mouseleave)="this.onHover(false)">
        <span class="note-icon">
            {{ this.data.label }}
        </span>
    </button>

    <ng-container *ngIf="this.shown">
        <evt-apparatus-entry-detail *ngFor="let app of this.data.appEntries"
            [data]="this.app"></evt-apparatus-entry-detail>
    </ng-container>
</ng-container>